@use '../node_modules/@angular/material' as mat;
@include mat.core();

html, body { height: 100%; }
body { margin: 0; }

.white-icon {
  color: white;
}

.website_bgimg {
  display:block;
  width:100%;
  height:100%;
  background: url('../public/website_background.jpeg') no-repeat center center fixed;
}

@include mat.toolbar-overrides((
    container-background-color: rgb(40, 40, 43),
    container-text-color: white,
  ));

$menu-font: mat.m2-define-typography-config(
  $font-family: ("Source Sans Pro", sans-serif),
);

@include mat.all-component-themes($menu-font);
@include mat.typography-hierarchy($menu-font);